<div class="rsvmodal" *ngIf="isVisible" tabindex="-1">

  <h1 class="reservedesc">Quiero Hacer una Reserva de:</h1>
  <h1 class="reservedesc2">Property title</h1>
  <input type="text" name="name" placeholder="Nombre" class="nametxt">
  <input type="text" name="surname" placeholder="Apellidos" class="surnametxt">
  <input type="text" name="cardnumber" placeholder="Nº de Tarjeta" class="cardntxt">
  <input type="text" name="cvv" placeholder="CVV" class="cvvtxt">
  <div class="expiredate-container">
    <label for="expiredate">Fecha de caducidad:</label>
    <input type="date" id="expiredate" name="expiredate" class="expiredate-input">
  </div>

</div>

