.rsvmodal {
  width: 855px;
  height: 400.258px;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  opacity: 40%;

  @import '~bootstrap/dist/css/bootstrap.min.css';
}

input {
  border-radius: 5px;
  border: none;
  background: #8BBFBD;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;

  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.reservedesc, .reservedesc2 {
  margin-left: 40px;
  margin-top: 30px;

  color: var(--colores-fuente, #006D7A);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nametxt {
  margin-left: 60px;
  margin-top: 40px;
  width: 260.14px;
  height: 43.984px;
  flex-shrink: 0;
}

.surnametxt {
  margin-left: 160px;
  margin-top: 40px;
  width: 325.177px;
  height: 43.984px;
  flex-shrink: 0;
}

.cardntxt {
  margin-left: 60px;
  margin-top: 40px;
  width: 525px;
  height: 43.984px;
  flex-shrink: 0;
}

.cvvtxt {
  margin-left: 100px;
  margin-top: 40px;
  width: 119.807px;
  height: 43.984px;
  flex-shrink: 0;
}

.dategroup {
  margin-left: 60px;
  margin-top: 40px;
  width: 745px;
  height: 43.984px;
  flex-shrink: 0;

  border-radius: 5px;
  border: none;
  background: #8BBFBD;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}

.inputDataText{
  padding:13px;
  border-width:1px;
  border-radius:9px;
  border-style:solid;
  border-color:#d9d9d9;
  width:100%;
  box-sizing: border-box;
}
.inputwrapper{
 position: relative;
}
.inputwrapper::after {
  content: attr(data-required);
  position: absolute;
  right: 8px;
  top: 50%;
  font-size: 15px;
  transform: translateY(-50%);
  color: #ccc;
}
