.reservebtn {
  width: 160px;
  height: 38.486px;
  flex-shrink: 0;
  border-radius: 5px;
  border: none;
  background: #F3A139;

  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
