


<app-imghome></app-imghome>
<app-filterbox></app-filterbox>
<app-homecards></app-homecards>


<app-file-upload></app-file-upload>

<app-reservemodal #reservemodal></app-reservemodal>
<app-reservebtn (openModalEvent)="reservemodal.openModal()"></app-reservebtn>

<app-modalcontact #contactmodal></app-modalcontact>
<app-contactbtn (openModalEvent)="contactmodal.openModal()"></app-contactbtn>



<!-- Mostrar modal -->
<!-- <app-modalcontact #modal1></app-modalcontact>
<app-contactbtn (openModalEvent)="modal1.openModal()"></app-contactbtn> -->
